.App {

}
  
.App__header {
    background-color: #282c34;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App__body {
    display: flex;
    justify-content: center;
}
  