.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0008;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    width: 500px;
    background-color: #fff;
    padding: 20px;
}

.modal__message {
    margin-bottom: 30px;
}